<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidenav"
  id="drawer-navigation">
  <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
    <form action="<%=posts_path%>" method="GET" class="md:hidden mb-2">
      <label for="sidebar-search" class="sr-only">Search</label>
      <div class="relative">
        <div
          class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
          </svg>
        </div>
        <input
          autocomplete="off"
          type="serach"
          name="q"
          value="<%=params[:q]%>"
          id="sidebar-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Search">
      </div>
    </form>

    <ul class="space-y-2">
      <%= c 'admin/sidebar/single_item', text: "Home", icon: :home, url: admin_root_path %>
      <%= c 'admin/sidebar/single_item', text: "Posts", icon: :posts, url: posts_path %>
      <%= c 'admin/sidebar/single_item', text: "Pages", icon: :pages, url: pages_path %>
      <%= c 'admin/sidebar/single_item', text: "Configurations", icon: :cog, url: configurations_path %>
      <%= c 'admin/sidebar/single_item', text: "Redirects", icon: :redirect, url: redirects_path %>
    </ul>
    <ul
      class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <%= c 'admin/sidebar/single_item', text: "Blog", icon: :tosite, url: root_path %>
      <%= c 'admin/sidebar/single_item', text: "Docs", icon: :docs, url: admin_root_path %>
      <%= c 'admin/sidebar/single_item', text: "Help", icon: :help, url: "https://github.com/scottwater/phront_page/issues" %>
    </ul>
  </div>
  <div
    class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20">
    <p class="text-sm"><a target="_blank" class="underline hover:bg-gray-100" href="https://phrontpage.com">PhrontPage</a> <%= Rails.application.config.app_version %> by <a target="_blank" class="underline hover:bg-gray-100" href="https://scottw.com">ScottW</a></p>

  </div>
</aside>
