<%= c 'admin/form/wrapper', model: post do %>
  <%= form_with(model: post, class: "contents", html: {"data-controller": "admin--unsaved-changes", id: "post-form"}) do |form| %>
    <div class="grid gap-4 sm:gap-6 mt-2">
      <%= form.tf :title, label: false, placeholder: "Post Title (optional)" %>
      <%= form.mda :markdown, label: false, rows: 16, placeholder: "Your overly witty post content (written in markdown)", required: true %>
      <%= c 'admin/form/drawer' do %>
        <%= form.sf :page_id, Pages.select_list_for_posts_with_no_page, selected: post.page_id %>
        <%= form.tf :slug %>
        <%= form.tf :published_at, hint: "If empty, the post is not published. If a date is present, the post is not visible until after the date" %>
        <%= form.img_drop :og_image_url %>
        <%= form.img_drop :image_url %>
        <%= form.ta :description, rows: 4 %>
        <%= form.ta :summary, rows: 4 %>
      <% end %>
    </div>
    <div class="w-full flex justify-between items-center px-4">
      <%= form.sb button_type: "wide" %>
      <%= c 'admin/form/drawer_button', text: "Options" %>
    </div>
  <% end %>
<% end %>
