<%= c 'admin/form/wrapper', model: config, title: "Configuration Settings" do %>
  <%= form_with(model: config, url: configuration_path(:settings), method: :patch, class: "contents space-y-4") do |form| %>
    <%= form.tf :base_url, required: true, help: "Your Blog's URL" %>
    <%= form.ta :header, help: "Code/Styles/etc to be included in the head of every page" %>
    <%= form.ta :footer, help: "Code/Styles/etc to be included in the footer of every page" %>
    <div class="flex space-x-4">
      <%= form.sb button_type: "wide", text: "Save Settings" %>
    </div>
  <% end %>
<% end %>