<div data-image-drop-name="<%= name %>" class="<%= merge_wrapped_class 'flex items-center justify-center w-full' %>"
data-controller="<%= stimulus_controller %>"
data-<%= stimulus_controller %>-cdn-value="<%= uploaded_assets_base_path %>">
    <label data-<%= stimulus_controller %>-target="dropZone" for="image-drop-<%= name %>" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= label %></p>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <%= c "admin/form/help", help: %>
        </div>
        <input id="image-drop-<%= name %>" type="file" class="hidden">
    </label>
    <div data-<%= stimulus_controller %>-target="previewZone" <%= merged_classes_class_attribute("hidden") %>>
      <%= form.label name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
        <%= label %> <%= link_to "(remove)", "#", data: {"skip-unsaved-check": true} %>
      <% end %>
      <img>
    </div>
    <%= form.hidden_field name, value: value, **attributes %>
</div>
